<div class="row">
  <div class="small-8 columns">
    <h1>Problems</h1>

    <table style="width: 100%;">
      <thead>
        <tr>
          <th>Problem Name</th>
          <th>Solutions</th>
          <th>Pass Rate</th>
        </tr>
      </thead>
      <tbody>
        <% @problems.each do |problem| %>
        <tr>
          <td><%= problem.name %></td>
          <td><%= problem.solutions.count %></td>
          <td>...</td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="small-4 columns">
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <%= link_to 'New Problem', new_admin_problem_path %>
  </div>
</div>
